# Calculate token usage of few shot examples vs instructions

This notebook aims to calculate the fraction of the length of the instructions and few-shot examples in the total token usage of a prompt, in order to identify the main driver of cost.

In [ ]:
from capo.analysis.utils import generate_comparison_table
import os

os.chdir("../")

Could not import torch or transformers in local_llm.py: No module named 'torch'
Could not import vllm, torch or transformers in vllm.py: No module named 'torch'

In [2]:
MODELS = ["llama", "qwen", "mistral"]

In [ ]:
for model in MODELS:
    print(model)
    display(generate_comparison_table(optims=["CAPO"], score_col="instr_len", model=model))
    display(generate_comparison_table(optims=["CAPO"], score_col="fs_len", model=model))
    display(generate_comparison_table(optims=["CAPO"], score_col="frac_fs", model=model))
    print()

llama

qwen

mistral