In [1]:
from capo.analysis.utils import (
    get_results,
    aggregate_results,
    get_prompt_scores,
    generate_comparison_table,
)
from capo.analysis.visualizations import (
    plot_population_scores,
    plot_population_members,
    plot_population_scores_comparison,
    plot_length_score,
)

In [2]:
OPTIMS = ["CAPO", "EvoPromptGA", "OPRO", "PromptWizard"]
DATASETS = ["sst-5", "agnews", "copa", "gsm8k", "subj"]
MODELS = ["llama", "mistral", "qwen"]

In [3]:
%load_ext autoreload
%autoreload 2

# Population Comparison

In [ ]:
for dataset in DATASETS:
    for model in MODELS:
        plot_population_scores_comparison(
            dataset,
            model,
            OPTIMS,
            agg="mean",
            plot_seeds=True,
            plot_stddev=True,
            x_col="input_tokens_cum",
        )

# Table Results

In [9]:
# import display html
from IPython.display import display, HTML

In [12]:
for model in MODELS:
    print(f"Model: {model}")
    display(generate_comparison_table(model=model, cutoff_tokens=1_000_000))

Model: llama
Failed to load sst-5 for CAPO: No objects to concatenate
Failed to load agnews for CAPO: No objects to concatenate
Failed to load copa for CAPO: No objects to concatenate
Failed to load sst-5 for EvoPromptGA: No objects to concatenate
Failed to load copa for EvoPromptGA: No objects to concatenate
Failed to load gsm8k for EvoPromptGA: No objects to concatenate
Failed to load subj for EvoPromptGA: No objects to concatenate

Model: mistral

Model: qwen
Failed to load copa for EvoPromptGA: No objects to concatenate
Failed to load gsm8k for EvoPromptGA: No objects to concatenate

In [13]:
for model in MODELS:
    print(f"Model: {model}")
    display(generate_comparison_table(model=model, cutoff_tokens=3_000_000))

Model: llama
Failed to load sst-5 for CAPO: No objects to concatenate
Failed to load agnews for CAPO: No objects to concatenate
Failed to load copa for CAPO: No objects to concatenate
Failed to load sst-5 for EvoPromptGA: No objects to concatenate
Failed to load copa for EvoPromptGA: No objects to concatenate
Failed to load gsm8k for EvoPromptGA: No objects to concatenate
Failed to load subj for EvoPromptGA: No objects to concatenate

Model: mistral

Model: qwen
Failed to load copa for EvoPromptGA: No objects to concatenate
Failed to load gsm8k for EvoPromptGA: No objects to concatenate

In [11]:
for model in MODELS:
    print(f"Model: {model}")
    display(generate_comparison_table(model=model))

Model: llama
Failed to load sst-5 for CAPO: No objects to concatenate
Failed to load agnews for CAPO: No objects to concatenate
Failed to load copa for CAPO: No objects to concatenate
Failed to load sst-5 for EvoPromptGA: No objects to concatenate
Failed to load copa for EvoPromptGA: No objects to concatenate
Failed to load gsm8k for EvoPromptGA: No objects to concatenate
Failed to load subj for EvoPromptGA: No objects to concatenate

Model: mistral

Model: qwen
Failed to load copa for EvoPromptGA: No objects to concatenate
Failed to load gsm8k for EvoPromptGA: No objects to concatenate

In [ ]:
for dataset in DATASETS:
    for model in MODELS:
        plot_length_score(
            dataset,
            model,
            OPTIMS,
            x_col="prompt_len",
            score_col="test_score",
        )